html{
    font-family: Arial;
    background-blend-mode: screen;
    background:
            linear-gradient(
                    90deg,
                    mediumpurple,
                    transparent
            ),
            linear-gradient(
                    -90deg,
                    coral,
                    transparent
            );
}

#topbar{
    background-color: whitesmoke;
    border-radius: .6rem;
    padding: .1rem;
    text-align: center;
    box-shadow: 6px 6px 20px grey;
}

#titletext{
    font-weight: lighter;
    color: #0a0a0a;
    margin-bottom: 0px;
}

#linkscontainer{
    font-weight: lighter;


}
a:link, a:visited{
    color: grey;
    text-decoration: none;
}

a:hover, a:active{
    color: deeppink;
}